<footer>
    <div class="footer-area">
        <div style="border-top: 1px solid lightgray; margin-bottom: 40px"></div>
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="single-footer">
                            <div class="footer-heading-wrap">
                                <span class="heading-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                                <h3 class="footer-heading">About Us</h3>
                            </div>
                            <div class="single-footer-text">
                                <p>Vestibulum quis cursus mi, vitae mollis metus.Nulam eu lects gravida, bibendum enim in, vulputate erat. Vestibulum ullamcorper ornare magna</p>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="fb-link"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="gp-link"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-footer">
                            <div class="footer-heading-wrap">
                                <span class="heading-icon"><i class="fa fa fa-link" aria-hidden="true"></i></span>
                                <h3 class="footer-heading">Important links</h3>
                            </div>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="#">Submit New Video</a></li>
                                    <li><a href="#">Popular Videos</a></li>
                                    <li><a href="#">Trending Videos</a></li>
                                    <li><a href="#">Most watched Videos</a></li>
                                    <li><a href="#">Latest Videos</a></li>
                                    <li><a href="#">Video Authors</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-footer">
                            <div class="footer-heading-wrap">
                                <span class="heading-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></span>
                                <h3 class="footer-heading">get support</h3>
                            </div>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="http://themeix.com/support">Our Forum</a></li>
                                    <li><a href="http://facebook.com/themeix">Facebook Page</a></li>
                                    <li><a href="https://twitter.com/themeix_ltd">Twitter</a></li>
                                    <li><a href="https://www.instagram.com/themeix_ltd/">Instagram</a></li>
                                    <li><a href="https://dribbble.com/themeix">Dribble</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-footer">
                            <div class="footer-heading-wrap">
                                <span class="heading-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                                <h3 class="footer-heading">contact us</h3>
                            </div>
                            <p>4100 S Choctaw Rd, Choctaw, OK, 73020</p>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="tel:+11231231234">T : +1 123 123 1234</a></li>
                                    <li><a href="tel:+11231234321">F : +1 123 123 4321</a></li>
                                    <li><a href="mailto:info@themeix.com">E : info@themeix.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom Area -->
    <div class="footer-bottom-area pb-40">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-bottom">
                        <div class="footer-logo">
                            <a href="/home"><img src="./assets/images/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Disclaimer</a></li>
                            </ul>
                        </div>
                        <div class="copyright-text">
                            <p>ElbiTube © 2018 - All rights reserved. - Proudly made with <a href="#">Omer The king's team</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
    <div class="scroll-top" style="display: block;">
        <div class="scroll-icon">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
  </footer>
  