<form>
  <div class="row">
    <div class="col" style="width: 900px; padding-right: 0px; padding-left: 50px">
          <input class="form-control" type="text" [(ngModel)]="searchTerm" name="videoSearchInput" placeholder="Search video..." (keyup)="filterVideoList()" (input)="onInputChange($event.target.value)" (keydown.ArrowUp)="handleKeyEvent( $event, 'ArrowUp' )" (keydown.ArrowDown)="handleKeyEvent( $event, 'ArrowDown' )" (keydown.Enter)="handleKeyEvent( $event, 'Enter' )">
          <div>
            <ul *ngIf="filteredResult.length>0" class="search-result-ul">
              <li *ngFor="let video of filteredResult; let i=index" (click)="selectVideo(video)" class="search-result-li" tabindex="i" [class.active]="i == selectedLiValue">
                  <span>{{video.title}}</span>
              </li>
            </ul>
          </div>
    </div>
    <div class="col" style="padding-left: 5px;">
      <a class="search-button" (click)="searchButtonClick()" title="Search"><i class="fa fa-search" style="border-radius: 3px; padding: 0.7rem; background-color: lightgray; margin-left: -7px;"></i></a>
    </div>
  </div>
</form>
