<div id="upload-div">
    <div class="row">
        <label for="browse" class="btn btn-info upload-btn" style="background-color: #ffe14f; color: black;">
             <i class="fa fa-search"></i> Browse
        </label>
        <input id="browse" type="file" (change)="handleFileInput($event.target.files)" />
        <label *ngIf="fileToUpload" class="fileName">{{fileToUpload.name}}</label>
    </div>
    <div class="row">
        <input [(ngModel)]="videoTitle" placeholder="Title" type="text" class="input--text" aria-label="Title" maxlength="30">
    </div>
    <div class="row" style="margin: 0 0 10px 45px;">        
        <div class="category" *ngFor="let category of categories">
            <span class="badge badge-pill badge-secondary" style="cursor: pointer" [class.selected]="category == selectedCategory" (click)="onClick(category)">{{ category }}</span>
        </div>
    </div>
    <div class="row">
        <textarea [(ngModel)]="videoDescription" cols="30" rows="5" class="textarea"  style="overflow-y: auto" placeholder="Add a description..."></textarea>
    </div>
    <div style="height: 30px;text-align: center">
        <button *ngIf="!buttonClicked" class="btn btn-info upload-btn" style="background-color:#004990" type="submit" (click)="uploadFileToActivity()">
            <span class="fa fa-upload"></span> Upload
    </button>
    <div class="progress" *ngIf="buttonClicked">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>
    <swal [options]="{ confirmButtonText: 'I understand' }" *ngIf="isUploadedSucceeded"></swal>
    <!-- <div class="alert alert-success" role="alert" *ngIf="isUploadSucceeded" style="margin-top: 25px;margin-bottom: -10px;text-align: center;">
        <h1>Woohoo!</h1><br>
        <h2>You just uploaded new movie to our repository!</h2>
    </div> -->
    <!-- <swal [options]="{ confirmButtonText: 'I understand' }"></swal>
    <swal title="SweetAlert2 Timer" *ngIf="isUploadSucceeded">
        <div *swalPartial class="alert alert-info">
            <strong>{{ elapsedSeconds }}</strong> seconds elapsed since then.
        </div>
    </swal> -->
</div>