.pgwSlideshow .ps-current .ps-next,
a {
    -webkit-transition: all .4s linear 0s
}

.main-menu .navbar-toggler,
.scroll-top {
    cursor: pointer
}

.header-top i,
.modal-title,
.site-info div,
.user-info div {
    display: inline-block
}

a,
body {
    color: #111
}

a:focus,
a:hover {
    text-decoration: none
}

.category-posts .single-video h4,
.video-content h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}

a {
    transition: all .4s linear 0s
}

a:hover {
    color: #167ac6
}

.categories-list ul,
.single-footer ul,
ul.tagcloud {
    margin: 0;
    padding: 0;
    list-style: none
}

img {
    max-width: 100%
}

.left {
    float: left
}

.right,
.single-video .video-feedback,
.themeix-section-h .see-all-link {
    float: right
}

.pt-40 {
    padding-top: 40px
}

.pb-80 {
    padding-bottom: 80px
}

.ptb-40 {
    padding: 40px 0
}

.themeix-ptb {
    padding: 80px 0
}

.themeix-ptb-2 {
    padding: 70px 0
}

.themeix-ptb-3 {
    padding: 60px 0
}

.themeix-ptb-4 {
    padding: 80px 0 50px
}

.themeix-ptb-5 {
    padding: 30px 0 80px
}

.bg-info {
    background-color: #f7f7f7
}

.hover-bg {
    background-color: #cc181e
}

.bg-semi-white {
    background-color: #f1f1f1
}

.bg-slide-white {
    background-color: #f0f0f0
}

.themeix-sidebar-h {
    margin-bottom: 15px
}

.themeix-section-h h3,
.themeix-sidebar-h h4 {
    margin: 0;
    text-transform: capitalize;
    display: inline-block
}

.themeix-sidebar-h h4 {
    font-size: 16px;
    color: #141414
}

.sidebar-widget {
    padding-bottom: 50px
}

.sidebar-wrapper .sidebar-widget:last-child {
    padding-bottom: 0
}

.themeix-section-h {
    padding: 15px 0
}

.themeix-section-h h3 {
    font-size: 25px;
    font-weight: 700;
    color: #111;
    line-height: 38px;
}

.see-all-link,
.server-time {
    font-weight: 400
}

.themeix-btn-danger {
    padding: 12px 25px;
    border: none;
    background-color: #cc181e;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px
}

.read-more-btn {
    color: #288feb;
    font-size: 16px;
    border-bottom: 1px solid #288feb
}

.header-top {
    background-color: #ffdc2d;
    overflow: hidden;
    min-height: 40px;
    line-height: 40px
}

.see-all-link,
.single-footer-text p {
    line-height: 24px
}

.header-top .user-info,
.header-top .user-info a,
.site-info,
.site-info a {
    color: #101010;
    font-weight: 600;
    text-transform: capitalize
}

.user-info.right {
    margin-right: 18px
}

.header-top i {
    padding-right: 10px
}

.header-top .mail-address a {
    text-transform: lowercase;
    font-weight: 600;
    font-size: 15px;
}

.mega-menu>ul>li>ul>li>a,
.modal-title,
.ps-caption b,
.server-time,
.video-title {
    text-transform: capitalize
}

.header-top .sepator {
    padding-right: 15px
}

ul.nav>li>a {
    border-bottom: 2px solid transparent
}

ul.nav>li.active>a,
ul.nav>li:hover>a {
    border-color: #cc181e;
    color: #111;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background-color: #f7f7f7
}

.mega-list li a i {
    padding-right: 10px
}

.main-menu .navbar-nav>li>a {
    padding-bottom: 20px;
    padding-top: 20px;
	font-size:18px;
    font-weight: 700
}
.main-menu .navbar-nav>li>a:hover {
   color:#4267b2
}

.modal-title {
    color: #111;
    font-size: 24px;
    font-weight: 700
}

#searchModal .modal-footer {
    text-align: left
}

#searchModal .modal-footer p {
    margin-bottom: 0;
    line-height: 24px
}

.login-form button,
.upload-form button {
    font-size: 20px
}

.login-form input,
.login-form textarea,
.upload-form input,
.upload-form textarea {
    border-radius: 0
}

.login-form input,
.upload-form input {
    height: 45px
}

.modal-header .close-btn {
    float: right;
    font-size: 20px;
    background-color: #d93d3d;
    border-radius: 0;
    color: #fff;
    border-color: #d93d3d
}

.upload-form input[type=file] {
    display: none
}

#searchModal .modal-header {
    padding: 10px 15px 5px;
    background-color: #ffdc2d
}

#searchModal .modal-title {
    color: #fff
}

.single-result {
    background: #fff;
    color: #111;
    padding: 5px;
    margin: 5px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3)
}

.single-result h3 {
    margin-top: 0;
    font-size: 20px
}

.upload-form .form-group {
    position: relative;
    margin-bottom: 0
}

.upload-form button {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 45px;
    background-color: #cc181e;
    border: 0;
    color: #fff
}

.custom-file-upload {
    border: 1px solid #c3e4c4;
    display: inline-block;
    padding: 35px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background: #d7f5d8
}

.ps-caption b i {
    font-size: 14px;
    display: inline-block;
    padding-right: 5px
}

.ps-caption b {
    color: #fff;
    display: block;
    margin: 0;
    font-size: 18px;
    font-weight: 700
}

.pgwSlideshow .ps-nextIcon:before,
.pgwSlideshow .ps-prevIcon:before {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: FontAwesome
}

.pgwSlideshow .ps-current>ul>li img {
    max-height: 450px;
    width: 100%;
    max-width: 1140px
}

.pgwSlideshow .ps-nextIcon,
.pgwSlideshow .ps-prevIcon {
    border: 0;
    position: relative
}

.pgwSlideshow .ps-nextIcon:before {
    content: "\f105"
}

.pgwSlideshow .ps-prevIcon:before {
    content: "\f104"
}

.pgwSlideshow .ps-current .ps-next {
    padding: 10px 15px 10px 20px;
    border: 0;
    transition: all .4s linear 0s;
    border-radius: 0
}

.pgwSlideshow .ps-current .ps-prev {
    padding: 10px 20px 10px 15px;
    border: 0;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
    border-radius: 0
}

.owl-prev,
.video-title {
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s
}

.pgwSlideshow .ps-current .ps-next:hover,
.pgwSlideshow .ps-current .ps-prev:hover {
    background-color: #cc181e
}

.pgwSlideshow .ps-caption {
    bottom: 60px;
    padding: 20px 0 20px 20px;
    width: 55%
}

.pgwSlideshow .ps-list {
    background: #1b1b1b;
    box-shadow: none;
    border: none;
    margin: 0
}

.pgwSlideshow .ps-list li .ps-item.ps-selected {
    border: none
}

.pgwSlideshow .ps-list li img {
    width: 150px;
    border: none
}

.pgwSlideshow .ps-list li .ps-item.ps-selected img {
    margin: 0
}

.pgwSlideshow .ps-list li .ps-item {
    padding: 15px 15px 15px 0;
    margin: 8px 5px
}

.pgwSlideshow .ps-current .ps-prev {
    background-color: #000
}

.pgwSlider>.ps-list>li span i,
ul.pgwSlider>li span {
    display: none
}

.pgwSlider .ps-caption,
.pgwSlider>.ps-list>li span,
ul.pgwSlider>li span {
    background: rgba(0, 0, 0, .4)
}

.category-posts .single-video .video-img,
.page-banner-area {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.pgwSlider>.ps-list>li span,
ul.pgwSlider>li span {
    font-size: 12px;
    font-weight: 700
}

.heading-icon i,
.video-title {
    font-size: 16px
}

.pgwSlider a:hover {
    color: #cc181e
}

.heading-icon {
    background-color: #ffdc2d;
    color: #101010;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    width: 35px
}

.properties {
    margin-left:1%
}
.video-title {
    color: #111;
    line-height: 22px;
    font-weight: 100
}

.video-title:hover {
    color: #4267b2
}

.video-uploadedby-and-viewers {
    margin-left: 70%; 
    margin-top:-4%;
    text-align: right; 
    width: 30%;
    display: inline-block;
    font-size: 20px
}
/* .video-like-counter {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    padding: 0 5px;
    color: #767676;
    margin-left: 1%;
    width: 70%;
} */
.video-viewers {
    display: inline-block;
    font-size: 20px
}

.video-feedback {overflow: hidden}
.view-icon {
    color: #418fd1;
    padding-right: 5px
}

.like-icon {
    color: #359261;
    padding-right: 10px
}

.dislike-icon {
    color: red;
    padding-right: 5px
}

.video-img img {
    max-width: 100%;
    min-height: 145px
}

.review-img span.video-duration,
.video-img span.video-duration {
    background-color: rgba(0, 0, 0, .69);
    bottom: 10px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 10px;
    text-align: center;
    padding: 0 5px;
    min-width: 50px;
    text-transform: CAPITALIZE
}

.owl-next,
.owl-prev {
    font-size: 20px;
    height: 25px;
    line-height: 22px;
    width: 25px;
    text-align: center
}

.review-img,
.video-img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    overflow: hidden
}

.owl-nav,
.owl-next,
.owl-prev {
    position: absolute
}

.owl-nav {
    top: -45px;
    right: 0;
    color: #fff
}

.owl-prev {
    background-color: #d1d1d1;
    left: -60px
}

.owl-prev:hover {
    background-color: #4267b2
}

.owl-next {
    background-color: #d1d1d1;
    right: 0;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s
}

.owl-next:hover {
    background-color: #4267b2
}

.single-review .review-img a,
.single-video .video-img a {
    position: relative;
    display: inline-block;
    overflow: hidden
}

.single-review .review-img a:before,
.single-video .video-img a:before {
    color: #fff;
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 60px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    z-index: 11
}

.see-all-link,
.see-all-link:hover {
    color: #cc181e
}

.single-review .image-icon a:before,
.single-review .review-img.image-icon a:after,
.single-video .image-icon a:before,
.single-video .video-img.image-icon a:after {
    content: "\f03e";
    font-size: 50px
}

.single-review .image-icon a:after,
.single-video .image-icon a:after {
    content: "\f03e"
}

.single-review:hover .image-icon a:after,
.single-video:hover .image-icon a:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible
}

.single-review:hover .review-img a:before,
.single-video:hover .video-img a:before {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: .0001;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden
}

.single-review .review-img a:after,
.single-video .video-img a:after {
    color: #4267b2;
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 60px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s;
    z-index: 12;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden
}

.single-review:hover .review-img a:after,
.single-video:hover .video-img a:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible
}

.category-posts .single-video .video-img {
    width: 100%;
    height: 200px
}

.single-video>a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9
}

.big-banner a,
.footer-heading,
.review-btn,
.review-img a,
.social-links ul li,
.subscribe-form,
.video-counter-plan,
.view-btn,
.watch-btn {
    display: inline-block
}

.category-posts .single-video {
    margin-bottom: 25px;
    min-height: 385px
}

.owl-carousel .owl-item img {
    -webkit-transform-style: initial;
    transform-style: initial
}

.review-img:after,
.video-img:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
    -webkit-transform-origin: bottom 0 0;
    transform-origin: bottom 0 0
}

.see-all-link,
.subscribe-form {
    position: relative
}
.subscribe-form {
width:100%
}
.view-btn,
.watch-btn {
    font-size: 14px;
    margin-right: 10px;
    -webkit-transition: all .4s linear 0s;
    text-transform: capitalize;
    transition: all .4s linear 0s
}

.single-review:hover .review-img:after,
.single-video:hover .video-img:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible
}

.single-video .video-content {
    max-height: 80px;
    overflow: hidden
}

.video-content h4 {
    margin-bottom: 0;
    margin-top: 10px;
}

.wide-video-section .single-video {
    margin-bottom: 30px;
    min-height: 210px
}

.see-all-link {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 14px
}

.view-btn,
.view-btn:hover,
.watch-btn,
.watch-btn:hover {
    color: #fff
}

.single-review {
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px
}

.single-review:last-child {
    margin-bottom: 0
}

.single-review .review-img {
    float: left;
    /* width: 36% */
}

.single-review .review-content {
    float: left;
    width: 60%;
    padding-left: 5%
}

.review-img img {
    max-width: 270px
}

.review-content h4 {
    margin-top: 0
}

.review-content .video-feedback {
    padding-left: 5px
}

.review-content .video-counter {
    padding-bottom: 10px
}

.video-counter {
    font-weight: 500
}

.action-content p,
.footer-area,
.view-btn,
.watch-btn {
    font-weight: 400
}

.view-btn {
    background-color: #3694f4;
    padding: 5px 20px;
    margin-top: 10px;
    border: none
}

.subscribe-form button,
.view-btn:hover,
.watch-btn {
    background-color: #cc181e
}

.watch-btn {
    padding: 8px 20px
}

.video-counter-plan {
    overflow: hidden
}

.video-counter-plan .video-viewers {
    float: left;
    padding: 2px
}

.video-counter-plan .video-feedback {
    display: inline-block;
    float: left
}

.single-contributor {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #dfdfdf
}

.single-contributor .contributor-img {
    width: 30%;
    max-width: 100px;
    float: left
}

.big-banner img,
.contributor-img>img {
    max-width: 100%
}

.single-contributor .contributor-content {
    width: 70%;
    padding-left: 5%;
    float: left
}

.contributor-content h4 {
    margin-top: 0
}

.heading-link {
    color: #111;
    font-size: 16px;
    text-transform: capitalize
}

.subscribe-box {
    margin-top: 60px
}

.subscribe-form input[type=text] {
    width: 100%;
    height: 40px;
    border: 1px solid #b7b7b7;
    padding-left: 10px
}

.subscribe-form button {
    position: absolute;
    right: 0;
    border: 0;
    width: 50px;
    height: 40px;
    top: 0;
    color: #fff;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s
}

.subscribe-form button:hover {
    background-color: #3694f4
}

.big-banner a {
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s
}

.call-to-action-area {
    padding: 40px 0;
    color: #fff
}

.themeix-purchase-btn,
.themeix-purchase-btn-2 {
    padding: 10px 30px;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
    text-transform: uppercase
}

.action-content h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0
}

.action-content p {
    margin-bottom: 0;
    font-size: 16px
}

.themeix-purchase-btn {
    background-color: #fff;
    color: #f26c4f
}

.themeix-purchase-btn-2,
.themeix-purchase-btn:hover {
    background-color: #2a6f9f;
    color: #fff
}

.themeix-purchase-btn-3,
.themeix-purchase-btn-4 {
    padding: 10px 20px;
    -webkit-transition: all .4s linear 0s;
    text-transform: uppercase
}

.themeix-purchase-btn-2:hover {
    background-color: #71c668;
    color: #fff
}

.themeix-purchase-btn-3 {
    background-color: #fff;
    color: #cc181e;
    transition: all .4s linear 0s;
	font-weight:700
}

.themeix-purchase-btn-3:focus,
a.themeix-purchase-btn-3:active {
    color: #cc181e
}

a.themeix-purchase-btn-3:hover {
    background-color: #3694f4;
    color: #fff
}

.themeix-purchase-btn-4 {
    background-color: #fff;
    color: #111;
    transition: all .4s linear 0s
}

.footer-heading,
.page-breadcrumb p,
.page-title h1,
.tagcloud li a {
    text-transform: capitalize
}

.themeix-purchase-btn-4:hover {
    background-color: #cc181e;
    color: #fff
}

.purchase-link {
    padding-top: 25px
}

.purchase-link a:focus {
    color: #71c668;
    background-color: #fff
}

.bg-slide-white .action-content {
    color: #111
}

.footer-heading-wrap {
    margin-bottom: 10px
}

.copyright-text p,
.footer-links ul {
    margin-bottom: 0
}

.footer-heading {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0
}

.single-footer .social-links {
    margin-top: 20px
}

.social-links ul li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #cfcbcb;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s
}

.footer-links ul li,
.footer-list ul li a {
    display: inline-block
}

.social-links ul li a:hover {
    background-color: #00aced
}

.footer-list ul li a {
    padding: 5px 0;
    color: #111;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s
}

.footer-list ul li a:hover {
    color: #4267b2    
}

.social-links ul li.fb-link a:hover {
    background-color: #3b5998
}

.social-links ul li.gp-link a:hover {
    background-color: #dd4b39
}

.footer-bottom-area {
    text-align: center
}

.footer-links {
    padding-bottom: 15px
}

.footer-links ul li a {
    padding: 0 10px;
    color: #111;
    font-weight: 400;
    border-right: 1px solid #bfbfbf
}

.footer-links ul li a:hover {
    color: #4267b2
}

.footer-links ul li:last-child a {
    border-right: medium none
}

.footer-logo {
    padding-bottom: 20px
}

.footer-logo img {
    max-height: 30px
}

.copyright-text a {
    color: #2a6f9f
}

.popular-videos .single-video {
    margin-bottom: 20px
}

.popular-videos .single-video:last-child {
    margin-bottom: 0
}

.popular-videos .themeix-section-h {
    padding-top: 0
}

.video-bg-section .video-overlay {
    min-height: 100vh;
    background-color: rgba(204, 24, 30, .41)
}

.video-bg-section .buttonBar {
    display: none
}

.page-title,
.tagcloud li,
.video-dislike p,
.video-icons,
.video-like p,
.video-counter .video-like,
.video-title .video-icons,
.video-title .video-info,
.video-text h1 {
    display: inline-block
}

.video-text {
    max-width: 90%;
    margin-top: 21%;
    padding: 25px;
    color: #fff
}

.video-text h1 {
    font-size: 62px;
    font-weight: 600;
    line-height: 72px
}

.video-text p {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px
}

.page-banner-area {
    width: 100%;
    position: relative
}

.page-banner-area:after {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0
}

.comment,
.page-banner,
.page-breadcrumb,
.page-title {
    position: relative
}

.page-banner-area .container>.row {
    padding: 70px 0
}

.page-banner {
    padding: 60px 0;
    z-index: 9
}

.video-post-wrapper,
body.tag-template .category-posts {
    padding-right: 30px
}

.page-title {
    z-index: 9
}

.page-title h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    color: #fff
}

.page-breadcrumb {
    float: right;
    z-index: 9
}

.page-breadcrumb p {
    font-size: 16px;
    color: #fff;
    line-height: 30px
}

.page-breadcrumb a {
    color: #fff
}

.video-post-wrapper,
.video-post-wrapper li,
.video-post-wrapper p {
    line-height: 26px
}

.posts-image img {
    width: 100%
}

.video-post-wrapper .posts-image img {
    max-width: 100%
}

.video-properties{
    overflow: hidden;
    margin: 20px 0;
    width: 100%
}

.video-properties .video-title {
    float: left
}

.video-counter .video-dislike,
.video-properties .video-counter {
    float: right
}

.video-counter .video-like {
    padding-right: 25px
}

.video-icons {
    width: 50px;
    height: 50px;
    background-color: #1824cc;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 30px
}

.video-title {
    width: 70%;
    float: left;
}

.video-counter {
    width: 30%;
    text-align: right
}

.video-title p {
    margin-bottom: 0
}

.video-author a,
.video-date p, .video-category a {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.video-date {
    padding: 0px 0px 0px 0px;
}
/* .video-date, .video-author, .video-category {
    padding-left: 0px
} */

.video-info h4 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px
}

.video-info h4 a {
    color: #111;
    font-weight: 700
}

.video-info h4 a:hover {
    color: #cc181e
}

.video-info {
    margin-left: 15px
}

.video-viewers h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px
}

.video-like-counter {
    cursor: pointer;
}

.video-dislike p,
.video-like p {
    margin-bottom: 0
}

.video-like span {
    color: #359261
}

.video-dislike span {
    color: red
}

.video-author a {
    padding-left: 5px
}

.video-author a:hover {
    color: #cc181e
}

.video-category a:hover {
    color: #39af1b
}

.recent-posts-wrapper .single-video {
    padding-bottom: 20px
}

.recent-posts-wrapper .single-video:last-child {
    padding-bottom: 0
}

.video-post-text h1,
.video-post-text h2,
.video-post-text h3 {
    margin-bottom: 20px
}

.video-post-text h4,
.video-post-text h5,
.video-post-text h6 {
    margin-bottom: 15px
}

.posts-next {
    text-align: right
}

.tagcloud li a {
    display: block;
    padding: 8px 20px;
    border: 1px solid #ddd;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
    margin-right: 10px
}

.share-options h4,
.social-share,
.social-share li {
    display: inline-block
}

.tagcloud li a:hover {
    background-color: #cc181e;
    color: #fff;
    border-color: #cc181e
}

.tagcloud li:last-child a {
    margin-right: 0
}

.tags-and-share {
    padding-top: 15px;
    overflow: hidden
}

.tags-and-share .post-tags {
    display: inline-block;
    float: left
}

.tags-and-share .share-options {
    float: right
}

.share-options h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    color: #cc181e
}

.social-share li a {
    width: 40px;
    height: 35px;
    line-height: 35px;
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-left: 5px
}

.social-share li.twitter-bg a {
    background-color: #1da1f2
}

.social-share li.facebook-bg a {
    background-color: #3b5998
}

.social-share li.google-bg a {
    background-color: #dc4a3d
}

.posts-next .next-btn {
    display: block;
    text-align: right;
    color: #cc181e
}

.posts-prev .prev-btn {
    color: #cc181e
}

.posts-pagination {
    margin: 20px 0
}

.posts-next .next-btn:after {
    content: "\f105";
    font-family: FontAwesome;
    padding-left: 8px;
    display: inline-block;
    font-size: 16px
}

.posts-prev .prev-btn:before {
    content: "\f104";
    font-family: FontAwesome;
    padding-right: 8px;
    display: inline-block;
    font-size: 16px
}

h5.comment-title {
    color: #111;
    font-size: 18px;
    line-height: 64px
}

ul.comments-list {
    list-style: none;
    margin: 0;
    padding-left: 0
}

ul.comments-list>li,
ul.comments-list>li.children {
    background-color: #f4f4f4;
    border-radius: 1px;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 30px
}

ul.comments-list li.children {
    margin-left: 50px
}

.comment-pic,
.comment-text {
    display: inline-block;
    float: left
}

.comment:after,
ul.comments-list>li.children:after,
ul.comments-list>li:after {
    clear: both;
    content: "";
    display: table
}

.comment-pic {
    width: 15%
}

.comment-text {
    padding-left: 15px;
    width: 85%
}

.comment-text>h5 {
    color: #111;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0
}

span.comment-date {
    color: #b1b1b1;
    font-size: 14px;
    line-height: 24px
}

.comment-text>p {
    color: #111;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 10px
}

a.comment-reply {
    border-bottom: 1px solid #999;
    color: #999;
    position: absolute;
    right: 0;
    top: 0
}

a.comment-reply:hover {
    border-color: #288feb;
    color: #288feb
}

.comment-text h5 {
    color: #111
}

#comments h4 {
    display: inline-block;
    font-size: 16px
}

.comments-title {
    margin-bottom: 20px
}

.contact-content {
    overflow: hidden
}

.contact-form {
    margin-top: 80px
}

.contact-info {
    margin-top: 30px
}

.contact-info img {
    margin-bottom: -1px
}

.contact-section.section-padding {
    padding-bottom: 0
}

.contact-form .form-control {
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
    color: #868686;
    display: block;
    font-size: 16px;
    height: 48px;
    line-height: 1.42857;
    padding: 10px 12px;
    -webkit-transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    width: 100%
}

textarea.form-control {
    min-height: 200px
}

.contact-us-wrapper h4 {
    color: #323232;
    font-size: 20px;
    line-height: 28px;
    margin: 0
}

.contact-us-wrapper>p {
    color: #777;
    font-size: 15px;
    line-height: 26px;
    margin: 25px 0
}

#respond .themeix-btn-danger {
    margin-top: 20px
}

#map-id {
    height: 440px
}

.categories-list {
    padding-top: 10px
}

.categories-list ul li {
    border-bottom: 1px dashed #ccc
}

.categories-list ul li:first-child a {
    padding-top: 0
}

.categories-list ul li:last-child {
    border-bottom: none
}

.categories-list ul li:last-child a {
    padding-bottom: 0
}

.categories-list ul li a {
    display: block;
    color: #2b2b2b;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 14px 0 12px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    text-transform: capitalize
}

.categories-list ul li a:before {
    content: "\f0da";
    font-family: FontAwesome;
    margin-right: 10px;
    color:darkblue
}

.categories-list ul li a:hover {
    color: #4267b2
}

.header-breadcrumb p {
    margin-bottom: 0;
    font-weight: 500;
    color: #fff
}

.header-breadcrumb a {
    padding: 0 5px;
    text-transform: capitalize;
    color: #fff
}

.header-breadcrumb {
    color: #fff
}

.search-box-wrapper .themeix-section-h {
    padding-top: 0
}

.search-box-wrapper {
    padding-bottom: 30px
}

.post-title {
    font-weight: 600
}

.page-banner-area-3 {
    background-color: #cc181e;
    padding: 70px 0
}

.blog-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px
}

.single-blog {
    padding: 20px 0;
    min-height: 460px
}

.posts-pagination .pagination>li>a,
.posts-pagination .pagination>li>span {
    background-color: #ccc;
    color: #fff;
    margin: 0 3px;
    border-radius: 0;
    font-weight: 500;
    font-size: 16px
}

.posts-pagination .pagination>li>a.active,
.posts-pagination .pagination>li>a:hover {
    background-color: #cc181e
}

.posts-pagination .pagination {
    margin: 0
}

.blog-img a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%
}

.review-content iframe,
.reviwe-text .author-name,
.reviwe-text .publish-date,
.scroll-top,
.single-review .video-counter-plan {
    display: none
}

.blog-img a:after,
.blog-img a:before {
    position: absolute;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden
}

.blog-img a img {
    width: 100%
}

.blog-img a:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.blog-img a:after {
    content: "\f0c1";
    font-family: FontAwesome;
    font-size: 30px;
    right: 0;
    top: 50%;
    -webkit-transform: scale(4) translateY(-50%);
    transform: scale(4) translateY(-50%);
    color: #fff;
    text-align: center;
    -webkit-transition: all .4s linear .1s;
    transition: all .4s linear .1s
}

.single-blog:hover .blog-img a:after,
.single-blog:hover .blog-img a:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.blog-posts-area .container {
    overflow: hidden
}

.contact-page-area .contact-form {
    margin-top: 0
}

.contact-page-area .themeix-section-h {
    padding-top: 0
}

.contact-page-area .themeix-section-h p {
    margin-top: 10px
}

.four-zero-page {
    padding: 200px 0
}

.scroll-top {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #111;
    bottom: 10px;
    right: 20px;
    z-index: 9999;
    -webkit-transition: all .4s linear 0s;
    transition: all .4s linear 0s
}

.scroll-top:hover,
header .modal-header {
    background-color: #ffdc2d
}

.scroll-top .scroll-icon {
    color: #fff;
    font-size: 40px;
    line-height: 45px;
    text-align: center
}

header .modal-content {
    border-radius: 0
}

header .modal-header {
    padding: 0
}

header .modal-header h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 15px;
    text-transform: capitalize;
    height: 50px;
    line-height: 29px;
    border: none!important
}

header .modal-header .close-btn {
    background-color: #ffdc2d;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 33px;
    height: 50px;
    line-height: 33px;
    margin: 0;
    width: 40px
}

header .modal-body .btn.btn-primary {
    background-color: #ffdc2d;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    min-width: 116px
}

.modal-content {
    border: none
}

.embed-video {
    margin-bottom: 15px
}

.modal-header .btn-close {
    float: right
}

.modal-body .search-input {
    border-radius: 0;
    height: 45px
}

.footer-list,
.single-footer {
    overflow: hidden
}

@media(min-width:1170px) and (max-width:1400px) {
    .header-section ul li ul.dm-align-2 {
        left: 0
    }
}

@media(max-width:1024px) {
    .subscribe-form button {
        right: 0
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    ul.nav>li:hover>a {
        border-color: transparent
    }
    .nav.navbar-nav {
        position: absolute;
        right: 0;
        width: 50%
    }
    .header-section ul li ul.dm-align-2 {
        left: 10px
    }
    .header-section ul li.menu-icon a:focus {
        color: #111
    }
    .themeix-section-h h3 {
        font-size: 20px
    }
    .subscribe-form input[type=email] {
        width: 215px
    }
    .posts-pagination {
        margin-bottom: 20px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    ul.nav>li:hover>a {
        border-color: transparent
    }
    .action-content h2 {
        font-size: 22px
    }
    .single-footer {
        margin-top: 16px
    }
    .video-img,
    .video-img img {
        width: 100%
    }
    .video-img a {
        display: inline-block;
        width: 100%
    }
    .single-review .review-img {
        float: none;
        width: auto
    }
    .single-review .review-content {
        float: left;
        width: 75%;
        padding-left: 0
    }
    .themeix-ptb {
        padding: 30px 0
    }
    .subscribe-form input[type=email] {
        width: 215px
    }
    .posts-pagination {
        margin-bottom: 20px
    }
    .tags-and-share {
        margin-bottom: 10px
    }
    .page-title h1 {
        font-size: 30px
    }
    .video-share .share-options {
        float: right;
        padding-top: 0
    }
    .header-section .main-nav .nav.top-nav li {
        padding-right: 20px
    }
    .header-section ul li.menu-icon a:focus {
        color: #111
    }
    .video-post-wrapper {
        margin-bottom: 30px
    }
    .four-zero-page {
        padding: 100px 0
    }
    .video-content>h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    .heading-icon {
        height: 30px;
        line-height: 30px;
        margin-right: 2px;
        width: 30px
    }
    .themeix-section-h h3 {
        font-size: 18px
    }
    .recent-posts-wrapper .video-counter {
        width: 100%
    }
    .recent-posts-wrapper .single-video .video-feedback,
    .recent-posts-wrapper .themeix-section-h .see-all-link {
        display: contents
    }
    .recent-posts-wrapper .view-icon {
        padding-right: 0
    }
}

@media only screen and (min-width:576px) and (max-width:991px) {
    .video-title {
        width: 65%
    }
    .video-counter {
        width: 35%
    }
}

@media only screen and (max-width:767px) {
    .pgwSlider>.ps-list>li span,
    .see-all-link,
    ul.pgwSlider>li span {
        display: none
    }
    .ps-caption b,
    .themeix-section-h h3 {
        font-size: 20px
    }
    .header-section img {
        min-width: 150px;
        padding-top: 10px
    }
    .header-section .logo {
        margin-top: 0
    }
    .navbar-nav {
        margin: 0
    }
    li.visible-xs.menu-icon,
    li.visible-xs.menu-icon.hover {
        margin-right: -15px;
        margin-top: 8px
    }
    .header-section {
        padding-bottom: 10px
    }
    .big-banner-area {
        padding: 0
    }
    .review-area {
        padding-bottom: 40px
    }
    .review-area .single-review .review-img {
        float: none;
        width: auto
    }
    .review-area .single-review .review-content {
        float: auto;
        width: auto;
        padding-left: 0
    }
    .action-content,
    .purchase-link.text-right {
        text-align: center!important
    }
    .single-footer {
        margin-bottom: 20px
    }
    .heading-icon {
        height: 30px;
        line-height: 30px;
        margin-right: 2px;
        width: 30px
    }
    .themeix-section-h h3 {
        font-size: 18px
    }
    .video-counter {
        width: 90%
    }
    .review-content>h4,
    .video-content>h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    .review-content h4 {
        margin-top: 10px;
        margin-bottom: 5px
    }
    .themeix-ptb {
        padding: 30px 0
    }
    .pgwSlideshow .ps-caption {
        background: 0 0;
        bottom: 10px;
        left: 50px
    }
    .ps-caption b {
        font-weight: 500
    }
    ul.nav>li:hover>a {
        background-color: #f7f7f7;
        border-color: transparent;
        color: #111;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
    .video-img,
    .video-img img {
        width: 100%
    }
    .video-img a {
        display: inline-block;
        width: 100%
    }
    .posts-next p,
    .posts-prev p,
    .share-options h4 {
        display: none
    }
    .pgwSlideshow.narrow .ps-list .ps-next,
    .pgwSlideshow.narrow .ps-list .ps-prev {
        z-index: 8
    }
    .header-section ul li.menu-icon {
        position: relative;
        z-index: 9999
    }
 
 
 
    .popular-videos .single-video {
        margin-bottom: 30px;
        max-width: 275px;
        float: left;
        margin-right: 20px
    }
    .page-breadcrumb {
        padding-top: 0;
        float: none
    }
    .share-options {
        padding-top: 5px
    }
    ul.social-share {
        padding: 0
    }
    .posts-pagination {
        margin: 0
    }
  
    .tags-and-share {
        margin-bottom: 10px
    }
    body.tag-template .category-posts .single-video {
        min-height: 385px
    }
    .page-title h1 {
        font-size: 35px
    }
    .tagcloud li a {
        padding: 8px 12px;
        margin-right: 0;
        margin-top: 5px
    }
    .header-section .main-nav .nav.top-nav li {
        padding-right: 20px
    }
    .header-section ul li.menu-icon a:focus {
        color: #111
    }
    .main-menu .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px
    }
    .video-post-wrapper {
        margin-bottom: 30px
    }
    .four-zero-page {
        padding: 50px 0
    }
.video-title {
    width: 100%;
}	
.video-counter {
    width: 100%;
    margin-top: 15px;
    text-align: left;
}
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .themeix-half {
        width: 50%;
        float: left;
        padding: 0 3%
    }
    .see-all-link {
        display: inline-block
    }
    .pgwSlideshow .ps-caption {
        bottom: 30%;
        left: 15%;
        background-color: transparent
    }
    .share-options {
        padding-top: 5px
    }
}

@media only screen and (max-width:469px) {
    .video-counter {
        display: none
    }
    .navbar-brand img {
        max-width: 190px
    }
}

.navbar-toggle {
    background-color: transparent
}

.main-nav .fa.fa-bars {
    color: #111
}

header#stickey-menu {
    z-index: 1000
}

.stickey {
    animation: .4s linear 0s normal none 1 running fadeInDown;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background: #FFF;
    left: 0;
    color: #303030!important;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .3s linear 0s;
    z-index: 10;
    padding: 0;
    border: 0
}

.stickey .main-menu ul li a {
    color: #303030
}

.stickey .navbar-nav li a:hover {
    background-color: 354A5E;
    color: #fff
}

.stickey .main-menu .navbar-nav li.active a {
    color: #111
}

.stickey .main-menu .navbar-nav li.active a:hover {
    color: #CC181E
}

header.stickey a.logo.image-logo img {
    max-height: 35px;
    margin-top: 5px
}

.navbar-brand img {
    max-height: 60px
}

.bg-themeix {
    background-color: #f7f7f7
}

.single-video .video-img {
    max-height: 145px
}

.category-posts .single-video .video-img {
    max-height: 300px
}

.kg-card-markdown iframe,
.kg-card-markdown img {
    padding: 25px 0
}

.main-menu .navbar-toggler {
    cursor: pointer;
}

.hidden {
    display: none;
}
.login-info {
    color: #101010;
}
