<header id="stickey-menu" style="background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, .1);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <nav class="main-menu navbar navbar-expand-lg">
                <div class="col-md-2">
                  <a class="navbar-brand" href="/home"><img src="./assets/images/logo.png" alt="/home"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="col-md-6">
                    <app-auto-complete-search></app-auto-complete-search>
                </div>
                <div class="col-md-4">
                  <div class="collapse navbar-collapse" id="mainMenu">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item active">
                            <a class="nav-link" href="/home">
                                <i class="fa fa-home fa-fw" aria-hidden="true"></i>Home
                                <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="/upload/">
                              <i class="fa fa-upload fa-fw" aria-hidden="true"></i>Upload Video
                              <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="/contact/">
                              <i class="fa fa-phone fa-fw" aria-hidden="true"></i>Contact
                              <span class="sr-only">(current)</span></a>
                          </li>
                      </ul>
                  </div>
                </div>
              </nav>
          </div>
      </div>
  </div>
  <!-- added this section to here for the demo, need to remove and fix the login component-->
</header>