<header id="stickey-menu" class="bg-themeix">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <nav class="main-menu navbar navbar-expand-lg">
                  <a class="navbar-brand" href="http://localhost:4200"><img src="./assets/images/logo.png"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
          <span class="fa fa-bars"></span>
      </button>
                  <div class="collapse navbar-collapse" id="mainMenu">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item active">
                              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="/tag/appetizers/">Appetizers<span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="/tag/recipe/">Recipes<span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="/tag/nature/">Nature<span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="/contact/">Contact<span class="sr-only">(current)</span></a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>