<div style="margin:2% 0 0 20%; display: flex">
    <mat-card style="background: white; width:53%;">
        <div class="single-video" (click)="imgClick(currentItem)">
            <div class="video-img" style="max-height: 100%; display: grid">
                <app-player [videoUrl]="currentItem.src"></app-player>
            </div>
            <span class="caption">{{currentItem.duration}}</span>
        </div>
        <span class="video-content">
            <app-video-properties [currentItem]="currentItem"></app-video-properties>
        </span>
    </mat-card>

    <mat-card style="background: white; width:20%; margin-left:2em">
        <div class="col-md-3" style="display:block; max-width: 100%;" *ngFor="let item of playList; let $index = index">
            <div class="single-video">
                <div class="video-img">
                    <a (click)="imgClick(item)">
                        <img [src]="item.imageSrc" alt="" (click)="imgClick(item)" [class.selected]="item === currentItem">
                    </a>
                    <span class="video-duration">{{item.duration}}</span>
                </div>
            </div>
            <span class="video-content">
                <app-video-properties-min [currentItem]="item"></app-video-properties-min>
            </span>
        </div>
    </mat-card>
</div>