<div class="boxshadow pt-40 pb-40">
        <div class="container" style="padding-left: 0">
            <div class="row">
                <div class="col-md-12" style="display: -webkit-box;">
                    <div class="col-md-9 main-video" >
                        <div class="single-video">
                            <div class="video-img" style="max-height: 100%; display: grid">
                                <app-player [videoUrl]="currentItem.src"></app-player>
                            </div>
                        </div>                    
                        <span class="video-content">
                            <app-video-properties [currentItem] = "currentItem"></app-video-properties> 
                        </span>
                    </div>
                    <div class="right-col">
                        <div class="col-md-3" style="display:block; max-width: 100%;" *ngFor="let item of playList; let $index = index">
                            <div class="single-video">
                                <div class="video-img">
                                    <a (click)="imgClick(item)"> 
                                        <img [src]="item.imageSrc" alt=""
                                        (click)="imgClick(item)"
                                        [class.selected]="item === currentItem">
                                    </a>
                                    <span class="video-duration">{{item.duration}}</span>
                                </div>
                            </div>
                            <span class="video-content">
                                <app-video-properties-min [currentItem] = "item"></app-video-properties-min>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: white;height: 500px; overflow-y: scroll; width: 900px;margin-left: 225px;padding: 50px;">
            <ngc-comments [video] = "videoId"></ngc-comments>
    </div>
    
    
