<div class="slider-area pt-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-wrapper">
                    <div class="pgwSlider wide">
                        <div class="ps-current" style="height: 486px;">
                            <ul>
                                <li class="elt_1" style="display: list-item; opacity: 1; z-index: 2;">
                                  <app-player [videoUrl]="currentItem.src"></app-player>
                                </li>
                            </ul>
                        </div>
                        <ul class="slider ps-list">
                            <li *ngFor="let item of playList; let $index = index"
                                class="elt_1" style="cursor: pointer; opacity: 1; width: 33.3333%; height: 158px;">
                                <img [src]="item.imageSrc" alt="Take Your Selfie"
                                (click)="imgClick(item)"
                                 [class.selected]="item === currentItem">
                                <span> 
                                    <a href="">{{item.title}}</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Video Properties Area -->
        <div class="col-md-9">
            <app-video-properties [currentItem] = "currentItem"></app-video-properties> 
        </div>
        <!-- End Video Properties Area -->
    </div>
  </div>