  <!--  Start Header -->
  <header>
      <div class="header-top hidden-xs">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="header-top-area">
                          <div class="site-info left">
                              <div class="mail-address">
                                  <i class="fa fa-envelope-o"></i>
                                  <a href="mailto:info@themeix.com">themeix@gmail.com</a>
                              </div>
                          </div>
                          <div class="user-info right">
                              <div class="login-info">
                                  <i class="fa fa-lock"></i>
                                  <a routerLink="login">Login</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Navigation area starts -->
      <!-- main menu area -->
      <app-menu></app-menu>
      <!-- Navigation area ends -->
  </header>
<router-outlet></router-outlet>
<app-footer></app-footer>