<div style="width: 100%">
    <div style="font-weight: bold">{{ videoTitle }}</div>
    <br>
    <div style="text-align: left; width: 70%;">
            <div class="video-like-counter" title="number of likes"><span class="fa fa-thumbs-o-up like-icon" style="color:#3694f4; font-size:3em"></span> <span style="font-size:1.5em">{{ likeCounter }}</span></div>
            <div class="video-like-counter" title="number of dislikes"> <span class="fa fa-thumbs-o-down dislike-icon" style="font-size:3em"></span> <span style="font-size:1.5em">{{ unLikeCounter }}</span></div>
            <!-- <div class="video-viewers" title="number of views"><span class="fa fa-eye view-icon" style="font-size:3em"></span> <span style="font-size:1.5em">{{viewedUsersCounter}} </span></div> -->
    </div>
    <div style="margin-left: 50%; text-align: right; margin-top: -2.5em">
        <div class="video-uploadedby" title="uploaded by">
            <div class="video-viewers" title="number of views"><span class="fa fa-eye view-icon" style="font-size:3em;"></span> <span style="font-size:1.5em">{{ views }} </span></div>
            <span style="margin-right: 10px"></span>
            <span class="fa fa-user" style="font-size:3em"></span> <span style="font-size:1em">{{ uploadedBy }}</span>
        </div>
    </div>
</div>