.video-properties-min, 
.video-properties-min > h4 {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
}

.video-info-min {
    display: flow-root;
}

.video-date-min {
    display: flex;
    justify-content: space-between;
}

.video-author-min {
    max-width: 50%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.video-upload-date-min {
    display: -webkit-box;
    max-width: 50%;
    float: right;
    font-size: 12px;
}

span.video-title-min {
    width: 75%;
    // word-break: break-word;
    float: left;
    font-weight: 1000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.video-viewers-min {
    float: right;
}

span.video-upload-date {
    display: -webkit-inline-box;
}
