<div class="slider-area pt-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-wrapper">
                    <div class="pgwSlider wide">
                        <div class="ps-current" style="height: 486px;">
                            <ul>
                                <li class="elt_1" style="display: list-item; opacity: 1; z-index: 2;">
                                    <img [src]="mostPopularVideo.imageSrc"
                                        (click)="imgClick(mostPopularVideo)">
                                </li>
                            </ul>
                        </div>
                        <ul class="slider ps-list">
                            <li *ngFor="let item of top3_list; let $index = index"
                                class="elt_1" style="cursor: pointer; opacity: 1; width: 33.3333%; height: 158px;">
                                <img [src]="item.imageSrc" alt="Take Your Selfie"
                                (click)="imgClick(item)"
                                
                                 [class.selected]="item === currentItem">
                                <span> 
                                    <a href="">{{item.title}}</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


<div class="container themeix-ptb" *ngIf="popularVideos_list !== undefined && popularVideos_list.legnth > 0 ">
    <div class="row">
        <div class="col-md-12">
            <div class="themeix-section-h section-heading-four">
                <span class="heading-icon"><i class="fa fa-fire" aria-hidden="true"></i></span>
                <h3>Most Popular Videos [{{popularVideos_list.length}}]</h3>
            </div>
        </div>
    </div>
    <div class="row news-posts-wrapper">
        <div class="col-md-3 themeix-half" *ngFor="let item of popularVideos_list; let $index = index">
            <div class="single-video">
                <div class="video-img">
                    <a href=""> 
                        <img [src]="item.imageSrc" alt=""
                        (click)="imgClick(item)"
                        [class.selected]="item === currentItem">
                    </a>
                    <span class="video-duration">duration</span>
                </div>
            </div>
            <div class="video-content">
                <app-video-properties-min [currentItem] = "item"></app-video-properties-min>
            </div>
        </div>
    </div>
</div>

<div class="container themeix-ptb" >
    <div class="row">
        <div class="col-md-12">
            <div class="themeix-section-h section-heading-four">
                <span class="heading-icon"><i class="fa fa-space-shuttle" aria-hidden="true"></i></span>
                <h3>New Uploads [{{new_list.length}}]</h3>
            </div>
        </div>
    </div>
    <div class="row news-posts-wrapper">
        <div class="col-md-3 themeix-half" *ngFor="let item of new_list; let $index = index">
            <div class="single-video">
                <div class="video-img">
                    <a (click)="imgClick(item)"> 
                        <img [src]="item.imageSrc" alt=""
                        (click)="imgClick(item)"
                        [class.selected]="item === currentItem">
                    </a>
                    <span class="video-duration">duration</span>
                </div>
            </div>
            <div class="video-content">
                <app-video-properties-min [currentItem] = "item"></app-video-properties-min>
            </div>
        </div>
    </div>
</div>

<div class="container themeix-ptb" *ngIf="air_list !== undefined && air_list.legnth > 0">
    <div class="row">
        <div class="col-md-12">
            <div class="themeix-section-h section-heading-four">
                <span class="heading-icon"><i class="fa fa-space-shuttle" aria-hidden="true"></i></span>
                <h3>Air [{{air_list.length}}]</h3>
            </div>
        </div>
    </div>
    <div class="row news-posts-wrapper">
        <div class="col-md-3 themeix-half" *ngFor="let item of air_list; let $index = index">
            <div class="single-video">
                <div class="video-img">
                    <a href=""> 
                        <img [src]="item.imageSrc" alt=""
                        (click)="imgClick(item)"
                        [class.selected]="item === currentItem">
                    </a>
                    <span class="video-duration">duration</span>
                </div>
            </div>
            <div class="video-content">
                <app-video-properties-min [currentItem] = "item"></app-video-properties-min>
            </div>
        </div>
    </div>
</div>

<div class="container themeix-ptb" *ngIf="land_list !== undefined && land_list.length > 0">
    <div class="row">
        <div class="col-md-12">
            <div class="themeix-section-h section-heading-four">
                <span class="heading-icon"><i class="fa fa-area-chart" aria-hidden="true"></i></span>
                <h3>Land [{{land_list.length}}]</h3>
            </div>
        </div>
    </div>
    <div class="row news-posts-wrapper">
        <div class="col-md-3 themeix-half" *ngFor="let item of land_list; let $index = index">
            <div class="single-video">
                <div class="video-img">
                    <a href=""> 
                        <img [src]="item.imageSrc" alt=""
                        (click)="imgClick(item)"
                        [class.selected]="item === currentItem">
                    </a>
                    <span class="video-duration">duration</span>
                </div>
            </div>
            <div class="video-content">
                <app-video-properties-min [currentItem] = "item"></app-video-properties-min>
            </div>
        </div>
    </div>
</div>


<div class="container themeix-ptb" *ngIf="radio_list !== undefined && radio_list.length > 0">
    <div class="row">
        <div class="col-md-12">
            <div class="themeix-section-h section-heading-four">
                <span class="heading-icon"><i class="fa fa-wifi" aria-hidden="true"></i></span>
                <h3>Radio [{{radio_list.length}}]</h3>
            </div>
        </div>
    </div>
    <div class="row news-posts-wrapper">
        <div class="col-md-3 themeix-half" *ngFor="let item of radio_list; let $index = index">
            <div class="single-video">
                <div class="video-img">
                    <a href=""> 
                        <img [src]="item.imageSrc" alt=""
                        (click)="imgClick(item)"
                        [class.selected]="item === currentItem">
                    </a>
                    <span class="video-duration">duration</span>
                </div>
            </div>
            <div class="video-content">
                <app-video-properties-min [currentItem] = "item"></app-video-properties-min>
            </div>
        </div>
    </div>
</div>


<div class="container themeix-ptb" style="border-bottom: none" *ngIf="more_list !== undefined && more_list.length > 0">
    <div class="row">
        <div class="col-md-12">
            <div class="themeix-section-h section-heading-four">
                <span class="heading-icon"><i class="fa fa-star" aria-hidden="true"></i></span>
                <h3>More [{{more_list.length}}]</h3>
            </div>
        </div>
    </div>
    <div class="row news-posts-wrapper">
        <div class="col-md-3 themeix-half" *ngFor="let item of more_list; let $index = index">
            <div class="single-video">
                <div class="video-img">
                    <a href=""> 
                        <img [src]="item.imageSrc" alt=""
                        (click)="imgClick(item)"
                        [class.selected]="item === currentItem">
                    </a>
                    <span class="video-duration">duration</span>
                </div>
            </div>
            <div class="video-content">
                <app-video-properties-min [currentItem] = "item"></app-video-properties-min>
            </div>
        </div>
    </div>
</div>
