.categories {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    margin: 40px auto;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60%;
    background-color: white
}

.right-col {
    width: 25%
}

.boxshadow {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    margin: 40px auto;
    padding-top: 80px;
    width: 60%;
    background-color: white
}

.main-video span.caption {
    background-color: rgba(0, 0, 0, .69);
    bottom: 10.5rem;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 2rem;
    text-align: center;
    padding: 0 5px;
    min-width: 50px;
    text-transform: CAPITALIZE;
}

.main-video > .single-video > .video-img > span.caption {
    background-color: rgba(0, 0, 0, .69);
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 40px;
    text-align: center;
    padding: 0 5px;
    min-width: 50px;
    text-transform: CAPITALIZE;
    z-index: 1;
}

.main-video .single-video .video-img a:before {
    color: #fff;
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 60px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    z-index: 11
}

.main-video .single-video .video-img a:after {
    color: #4267b2;
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 60px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s;
    z-index: 12;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden
}

.main-video .single-video:hover .video-img a:before {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: .0001;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden
}

.main-video .single-video:hover .video-img a:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible
}

.heading-title {
    color: #101010;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
}