<div class="slider-area pt-40">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider-wrapper">
                        <div class="pgwSlider wide">
                            <div class="ps-current" style="height: 467px;">
                                <ul>
                                    <li class="elt_1" style="display: list-item; opacity: 1; z-index: 2;">
                                        <img [src]="currentItem.imageSrc">
                                      <!-- <app-player [videoUrl]="currentItem.src" (onEnded)="onVideoEnded($event)" (onLoad)="onVideoLoaded($event)" ></app-player> -->
                                    </li>
                                </ul>
                            </div>
                            <ul class="slider ps-list">
                                <li *ngFor="let item of playList; let $index = index"
                                    class="elt_1" style="cursor: pointer; opacity: 1; width: 33.3333%; height: 155px;">
                                    <div class="single-video">
                                        <div class="video-img">
                                            <a href=""> 
                                                <img [src]="item.imageSrc" alt=""
                                                (click)="onClickPlaylistItem(item, $index)"
                                                [class.selected]="item === currentItem">
                                            </a>
                                            <span class="video-duration">duration</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Video Properties Area -->
            <div class="col-md-9">
                <app-video-properties [userEmail]="userEmail"></app-video-properties> 
            </div>
            <!-- End Video Properties Area -->
        </div>
      </div>
      <!-- End Slider Area -->
    
      <!-- Start Video Carousel -->
      <div class="video-carousel-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="themeix-section-h section-heading-one">
                        <span class="heading-icon"><i class="fa fa-bolt"></i></span>
                        <h3>Trending Videos</h3>
                    </div>
                    <div class="video-carousel owl-carousel owl-theme owl-loaded">
      
                        <div class="owl-stage-outer">
                              <div class="owl-stage" style="transform: translate3d(-1140px, 0px, 0px); transition: 0s; width: 3705px;">
                                  <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                                    <div class="single-video">
                                        <div class="video-img"><a href="/worms-and-dirt-poke-cake/"><img src="./assets/images/cake.jpg" alt="/worms-and-dirt-poke-cake/"></a><span class="video-duration">Video</span></div>
                                        <div class="video-content">
                                            <h4><a href="/worms-and-dirt-poke-cake/" class="video-title">Worms And Dirt Poke Cake</a></h4>
                                        </div>
                                    </div>
                                </div>
                                  <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                                    <div class="single-video">
                                        <div class="video-img"><a href="/molten-cinnamon-rolls/"><img src="./assets/images/cake.jpg" alt="/molten-cinnamon-rolls/"></a><span class="video-duration">Video</span></div>
                                        <div class="video-content">
                                            <h4><a href="/molten-cinnamon-rolls/" class="video-title">Molten Cinnamon Rolls</a></h4>
                                        </div>
                                    </div>
                                </div>
                                  <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                                    <div class="single-video">
                                        <div class="video-img"><a href="/rainbow-sprinkle-cinnamon-rolls/"><img src="./assets/images/cake.jpg" alt="/rainbow-sprinkle-cinnamon-rolls/"></a><span class="video-duration">Video</span></div>
                                        <div class="video-content">
                                            <h4><a href="/rainbow-sprinkle-cinnamon-rolls/" class="video-title">Rainbow Sprinkle Cinnamon Rolls</a></h4>
                                        </div>
                                    </div>
                                </div>
                                  <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                                    <div class="single-video">
                                        <div class="video-img"><a href="/double-chocolate-stuffed-mini-churros/"><img src="./assets/images/cake.jpg" alt="/double-chocolate-stuffed-mini-churros/"></a><span class="video-duration">Video</span></div>
                                        <div
                                            class="video-content">
                                            <h4><a href="/double-chocolate-stuffed-mini-churros/" class="video-title">Double Chocolate-Stuffed Mini Churros</a></h4>
                                    </div>
                                </div>
                            </div>
                              <div class="owl-item active" style="width: 255px; margin-right: 30px;">
                                <div class="single-video">
                                    <div class="video-img"><a href="/frozen-irish-coffee/"><img src="./assets/images/cake.jpg" alt="/frozen-irish-coffee/"></a><span class="video-duration">Video</span></div>
                                    <div class="video-content">
                                        <h4><a href="/frozen-irish-coffee/" class="video-title">Frozen Irish Coffee</a></h4>
                                    </div>
                                </div>
                            </div>
                              <div class="owl-item active" style="width: 255px; margin-right: 30px;">
                                <div class="single-video">
                                    <div class="video-img"><a href="/worms-and-dirt-poke-cake/"><img src="./assets/images/cake.jpg" alt="/worms-and-dirt-poke-cake/"></a><span class="video-duration">Video</span></div>
                                    <div class="video-content">
                                        <h4><a href="/worms-and-dirt-poke-cake/" class="video-title">Worms And Dirt Poke Cake</a></h4>
                                    </div>
                                </div>
                            </div>
                              <div class="owl-item active" style="width: 255px; margin-right: 30px;">
                                <div class="single-video">
                                    <div class="video-img"><a href="/molten-cinnamon-rolls/"><img src="./assets/images/cake.jpg" alt="/molten-cinnamon-rolls/"></a><span class="video-duration">Video</span></div>
                                    <div class="video-content">
                                        <h4><a href="/molten-cinnamon-rolls/" class="video-title">Molten Cinnamon Rolls</a></h4>
                                    </div>
                                </div>
                            </div>
                              <div class="owl-item active" style="width: 255px; margin-right: 30px;">
                                <div class="single-video">
                                    <div class="video-img"><a href="/rainbow-sprinkle-cinnamon-rolls/"><img src="./assets/images/cake.jpg" alt="/rainbow-sprinkle-cinnamon-rolls/"></a><span class="video-duration">Video</span></div>
                                    <div class="video-content">
                                        <h4><a href="/rainbow-sprinkle-cinnamon-rolls/" class="video-title">Rainbow Sprinkle Cinnamon Rolls</a></h4>
                                    </div>
                                </div>
                            </div>
                              <div class="owl-item" style="width: 255px; margin-right: 30px;">
                                <div class="single-video">
                                    <div class="video-img"><a href="/double-chocolate-stuffed-mini-churros/"><img src="./assets/images/cake.jpg" alt="/double-chocolate-stuffed-mini-churros/"></a><span class="video-duration">Video</span></div>
                                    <div
                                        class="video-content">
                                        <h4><a href="/double-chocolate-stuffed-mini-churros/" class="video-title">Double Chocolate-Stuffed Mini Churros</a></h4>
                                </div>
                            </div>
                        </div>
                          <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                            <div class="single-video">
                                <div class="video-img"><a href="/frozen-irish-coffee/"><img src="./assets/images/cake.jpg" alt="/frozen-irish-coffee/"></a><span class="video-duration">Video</span></div>
                                <div class="video-content">
                                    <h4><a href="/frozen-irish-coffee/" class="video-title">Frozen Irish Coffee</a></h4>
                                </div>
                            </div>
                        </div>
                          <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                            <div class="single-video">
                                <div class="video-img"><a href="/worms-and-dirt-poke-cake/"><img src="./assets/images/cake.jpg" alt="/worms-and-dirt-poke-cake/"></a><span class="video-duration">Video</span></div>
                                <div class="video-content">
                                    <h4><a href="/worms-and-dirt-poke-cake/" class="video-title">Worms And Dirt Poke Cake</a></h4>
                                </div>
                            </div>
                        </div>
                          <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                            <div class="single-video">
                                <div class="video-img"><a href="/molten-cinnamon-rolls/"><img src="./assets/images/cake.jpg" alt="/molten-cinnamon-rolls/"></a><span class="video-duration">Video</span></div>
                                <div class="video-content">
                                    <h4><a href="/molten-cinnamon-rolls/" class="video-title">Molten Cinnamon Rolls</a></h4>
                                </div>
                            </div>
                        </div>
                          <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                            <div class="single-video">
                                <div class="video-img"><a href="/rainbow-sprinkle-cinnamon-rolls/"><img src="./assets/images/cake.jpg" alt="/rainbow-sprinkle-cinnamon-rolls/"></a><span class="video-duration">Video</span></div>
                                <div class="video-content">
                                    <h4><a href="/rainbow-sprinkle-cinnamon-rolls/" class="video-title">Rainbow Sprinkle Cinnamon Rolls</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls">
                    <div class="owl-nav">
                        <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                        <div class="owl-next"><i class="fa fa-angle-right"></i></div>
                    </div>
                    <div class="owl-dots" >
                        <div class="owl-dot active"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
      </div>
      <!-- End Video Carousel -->
      
      <!-- Start Wide Video Section -->
      <div class="wide-video-section themeix-ptb bg-themeix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="themeix-section-h section-heading-two">
                        <span class="heading-icon"><i class="fa fa-book"></i></span>
                        <h3>Appetizers Recipe</h3>
                    </div>
                </div>
            </div>
            <div class="row related-posts-wrapper">
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/avocado-chickpea-salad/"><img src="./assets/images/salad.jpg" alt="Avocado Chickpea Salad"></a> <span class="video-duration">1:18</span></div>
                        <div class="video-content">
                            <h4><a href="/avocado-chickpea-salad/" class="video-title">Avocado Chickpea Salad</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>154354 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>4026</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>88</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/honey-lime-sriracha/"><img src="./assets/images/salad.jpg" alt="Honey Lime Sriracha"></a> <span class="video-duration">1:8</span></div>
                        <div class="video-content">
                            <h4><a href="/honey-lime-sriracha/" class="video-title">Honey Lime Sriracha</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>470694 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>9520</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>87</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/spicy-mango-chicken-wings/"><img src="./assets/images/salad.jpg" alt="Spicy Mango Chicken Wings"></a> <span class="video-duration">1:3</span></div>
                        <div class="video-content">
                            <h4><a href="/spicy-mango-chicken-wings/" class="video-title">Spicy Mango Chicken Wings</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>455496 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>10687</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>168</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/cheesy-pretzel-ring-dip/"><img src="./assets/images/salad.jpg" alt="Cheesy Pretzel Ring Dip"></a> <span class="video-duration">1:13</span></div>
                        <div class="video-content">
                            <h4><a href="/cheesy-pretzel-ring-dip/" class="video-title">Cheesy Pretzel Ring Dip</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>273675 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>5310</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>114</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/brick-oven-style-pizza/"><img src="./assets/images/salad.jpg" alt="Brick Oven-Style Pizza"></a> <span class="video-duration">1:38</span></div>
                        <div class="video-content">
                            <h4><a href="/brick-oven-style-pizza/" class="video-title">Brick Oven-Style Pizza</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>758013 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>13484</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>317</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/test/"><img src="./assets/images/salad.jpg" alt="5 Veggie-Packed Recipes"></a> <span class="video-duration">4:5</span></div>
                        <div class="video-content">
                            <h4><a href="/test/" class="video-title">5 Veggie-Packed Recipes</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>806412 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>18119</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>378</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/french-cheese-puffs-gougeres/"><img src="./assets/images/salad.jpg" alt="French Cheese Puffs (Gougeres)"></a> <span class="video-duration">1:24</span></div>
                        <div class="video-content">
                            <h4><a href="/french-cheese-puffs-gougeres/" class="video-title">French Cheese Puffs (Gougeres)</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>303449 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>6904</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>97</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/2-ingredient-chocolate-souffle/"><img src="./assets/images/salad.jpg" alt="2- Ingredient chocolate souffle"></a> <span class="video-duration">1:15</span></div>
                        <div class="video-content">
                            <h4><a href="/2-ingredient-chocolate-souffle/" class="video-title">2- Ingredient chocolate souffle</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>549671 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>14651</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>166</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- End Wide Video Section -->
      
      
      <!-- Start Review And Contribute Section -->
      <div class="review-and-contribute themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="review-area">
                        <div class="themeix-section-h section-heading-three">
                            <span class="heading-icon"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
                            <h3>Animal Plannet</h3>
                        </div>
                        <div class="featured-area">
                            <div class="single-review">
                                <div class="review-img"> <a href="/birth-of-a-baby-wildebeest/"><img src="./assets/images/animal.jpg" alt="Birth of a baby wildebeest"></a> <span class="video-duration">4:34</span></div>
                                <div class="review-content">
                                    <h4><a href="/birth-of-a-baby-wildebeest/" class="video-title">Birth of a baby wildebeest</a></h4>
                                    <div class="video-counter-plan">
                                        <div class="video-viewers"> <span class="fa fa-eye view-icon"></span> <span>5619348</span></div>
                                        <div class="video-feedback">
                                            <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>4245</span></div>
                                            <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>2162</span></div>
                                        </div>
                                    </div>
                                    <div class="reviwe-text">Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally</div>
                                    <div class="review-btn"> <a href="/birth-of-a-baby-wildebeest/" class="view-btn">View Details</a></div>
                                </div>
                            </div>
                            <div class="single-review">
                                <div class="review-img"> <a href="/cach-dai-bang-san-moi-t/"><img src="./assets/images/animal.jpg" alt="Amazing Brave Boy"></a> <span class="video-duration">10:14</span></div>
                                <div class="review-content">
                                    <h4><a href="/cach-dai-bang-san-moi-t/" class="video-title">Amazing Brave Boy</a></h4>
                                    <div class="video-counter-plan">
                                        <div class="video-viewers"> <span class="fa fa-eye view-icon"></span> <span>3139160</span></div>
                                        <div class="video-feedback">
                                            <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>2794</span></div>
                                            <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>2008</span></div>
                                        </div>
                                    </div>
                                    <div class="reviwe-text">Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise</div>
                                    <div class="review-btn"> <a href="/cach-dai-bang-san-moi-t/" class="view-btn">View Details</a></div>
                                </div>
                            </div>
                            <div class="single-review">
                                <div class="review-img"> <a href="/untitled/"><img src="./assets/images/animal.jpg" alt="TOP 10 ANIMALS"></a> <span class="video-duration">11:35</span></div>
                                <div class="review-content">
                                    <h4><a href="/untitled/" class="video-title">TOP 10 ANIMALS</a></h4>
                                    <div class="video-counter-plan">
                                        <div class="video-viewers"> <span class="fa fa-eye view-icon"></span> <span>13129849</span></div>
                                        <div class="video-feedback">
                                            <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>18025</span></div>
                                            <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>7111</span></div>
                                        </div>
                                    </div>
                                    <div class="reviwe-text">Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise</div>
                                    <div class="review-btn"> <a href="/untitled/" class="view-btn">View Details</a></div>
                                </div>
                            </div>
      
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3 col-sm-4">
                    <div class="sidebar-widget">
                        <div class="tag-list-wrapper">
                            <div class="themeix-section-h">
                                <span class="heading-icon"><i class="fa fa-folder-open-o" aria-hidden="true"></i></span>
                                <h3>Categories</h3>
                            </div>
                            <div class="categories-list">
                                <ul>
                                    <li><a href="/tag/getting-started/">Getting Started</a></li>
                                    <li><a href="/tag/recipe/">recipe</a></li>
                                    <li><a href="/tag/appetizers/">appetizers</a></li>
                                    <li><a href="/tag/trending/">trending</a></li>
                                    <li><a href="/tag/standard/">standard</a></li>
                                    <li><a href="/tag/animals/">animals</a></li>
                                    <li><a href="/tag/nature/">nature</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      <!-- End Review And Contribute Section -->
      
      <!-- Start Sports News Area -->
      <div class="wide-video-section themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="themeix-section-h section-heading-four">
                        <span class="heading-icon"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
                        <h3>Wild And Nature</h3>
                    </div>
                </div>
            </div>
            <div class="row news-posts-wrapper">
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/cheetah-attacks/"><img src="./assets/images/cake.jpg" alt="Cheetah Attacks (LIVE)"></a> <span class="video-duration">19:21</span></div>
                        <div class="video-content">
                            <h4><a href="/cheetah-attacks/" class="video-title">Cheetah Attacks (LIVE)</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>6106200 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>7262</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>2507</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/cubs-meet-adult-tiger/"><img src="./assets/images/cake.jpg" alt="Cubs Meet Adult Tiger"></a> <span class="video-duration">4:11</span></div>
                        <div class="video-content">
                            <h4><a href="/cubs-meet-adult-tiger/" class="video-title">Cubs Meet Adult Tiger</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>26170034 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>134003</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>5769</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/mohenjo-daro-101-national-geographic/"><img src="./assets/images/cake.jpg" alt="Mohenjo Daro 101 | National Geographic"></a> <span class="video-duration">3:15</span></div>
                        <div class="video-content">
                            <h4><a href="/mohenjo-daro-101-national-geographic/" class="video-title">Mohenjo Daro 101 | National Geographic</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>269526 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>4147</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>86</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img"> <a href="/top-10-ridiculously-animals/"><img src="./assets/images/cake.jpg" alt="Top 10 Ridiculously Animals"></a> <span class="video-duration">2:54</span></div>
                        <div class="video-content">
                            <h4><a href="/top-10-ridiculously-animals/" class="video-title">Top 10 Ridiculously Animals</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-eye view-icon"></span> <span>512282 </span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-up like-icon"></span> <span>1098</span></div>
                                    <div class="video-like-counter"> <span class="fa fa-thumbs-o-down dislike-icon"></span> <span>156</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img image-icon"> <a href="/monkey-general/"><img src="./assets/images/cake.jpg" alt="Monkey General"></a>                            <span class="video-duration">nature</span></div>
                        <div class="video-content">
                            <h4><a href="/monkey-general/" class="video-title">Monkey General</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-user view-icon"></span> <span>themeix</span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-calendar like-icon"></span> <span>13 Feb, 2018</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img image-icon"> <a href="/tiger-is-gangerous/"><img src="./assets/images/cake.jpg" alt="Tiger Is Gangerous"></a>                            <span class="video-duration">nature</span></div>
                        <div class="video-content">
                            <h4><a href="/tiger-is-gangerous/" class="video-title">Tiger Is Gangerous</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-user view-icon"></span> <span>themeix</span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-calendar like-icon"></span> <span>13 Feb, 2018</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img image-icon"> <a href="/natural-news-are-urgent/"><img src="./assets/images/cake.jpg" alt="Natural News Are Urgent"></a>                            <span class="video-duration">nature</span></div>
                        <div class="video-content">
                            <h4><a href="/natural-news-are-urgent/" class="video-title">Natural News Are Urgent</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-user view-icon"></span> <span>themeix</span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-calendar like-icon"></span> <span>13 Feb, 2018</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 themeix-half">
                    <div class="single-video">
                        <div class="video-img image-icon"> <a href="/monkeys-vs-dogs-and-cats/"><img src="./assets/images/cake.jpg" alt="Monkeys VS Dogs and Cats"></a> <span class="video-duration">wild</span></div>
                        <div class="video-content">
                            <h4><a href="/monkeys-vs-dogs-and-cats/" class="video-title">Monkeys VS Dogs and Cats</a></h4>
                            <div class="video-counter">
                                <div class="video-viewers"><span class="fa fa-user view-icon"></span> <span>themeix</span></div>
                                <div class="video-feedback">
                                    <div class="video-like-counter"> <span class="fa fa-calendar like-icon"></span> <span>21 Aug, 2017</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      